extends layout

block content
  h1= title
 form(name="add-estimation", method="post")
        div.input
            span.label Title
            input(type="text", name="title")
        div.input
            span.label Description
            textarea(name="description", cols="40", rows="5")
        div.actions
            input(type="submit", value="add")
